{%extends "base.html"%}
{%load static%}

{%block content %}

<style>
  
.title{
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 20px;
}

.paragraph{
    text-align: center;
    justify-content: center;
    padding-top: 1%;
    overflow-wrap: normal;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    line-height: 2;
}
.paragraph2{
    text-align: center;
    justify-content: center;
    padding-top: 1%;
    overflow-wrap: normal;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 2;
    padding-bottom: 20px;

}
.photocenter{
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    padding-bottom:100px;

}
.marker {
      background-image: url("{% static '/locationicon.png' %}");
      background-size: cover;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
}
.row{
    margin: 5%;
}



</style>

<div class="title">
    <h3>ENVS Hamakua Marsh Field Research</h3>
</div>


<div id='map' class="photocenter" ></div>
<!-- Paragraph about the web app -->
<div class="paragraph">
    
    <p1>
        During the weeks of September 5th to 12th a Hawaii Pacific University Environmental science 
        class conducted a lab assignment which consisted of visiting the Hamakua marsh to install pitfall traps to gain an understanding of the type of invertebrates that call the marsh home. 
        The timing of the sampling was particularly important due to the disking of the marsh (procedure used to interrupt the growth of pickleweed).
       
    </p1>
    
</div>
<div class="paragraph2">
    <p1> 
        This website contains the invertebrate type and count of the sum of the pitfall traps 
        collected in the Hamakua marsh, as well as information of each invertebrate collected in the marsh 
        and used the data collected to visually display the data through graphs and charts.
    </p1>
</div>

<div class="row  row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="400" xmlns="http://www.w3.org/2000/img" src= "{% static '/researchteam.jpeg' %}" role="img" aria-label="Agabiformius spp" preserveAspectRatio="xMidYMid slice" focusable="true" title="Professor with student research team"><rect width="100%" height="100%" ></rect></img>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" height="400" xmlns="http://www.w3.org/2000/img" src= "{% static '/basintallgrass.jpeg'%}"role="img" aria-label="Amphipoda" preserveAspectRatio="xMidYMid slice" title="Hamakua Basin" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100" height="400" xmlns="http://www.w3.org/2000/img" src= "{% static '/hamakuabasin.jpeg'%}" role="img" aria-label="Arthropod" preserveAspectRatio="xMidYMid slice" title="Hamakua Basin" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
</div>
 
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiemVla2c5MzM1IiwiYSI6ImNsYXlzZjNsOTEyZXEzdm9hNW4xNzY3ajkifQ.JYaff-qpuTmeWrHCXbl-yw';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-streets-v11',
    center: [-157.74481431244328,21.390126930766918],
    zoom: 13.7
  });
  const basins = [[-157.74156097048504,21.38994420790473],[-157.74398798195608,21.391330715814714]]
  for(let i =0; i<basins.length;i++){
    const el = document.createElement('div');
    el.className = 'marker';
    new mapboxgl.Marker(el).setLngLat(basins[i]).addTo(map);

  }
  
  

//  basin b 21.38994420790473, -157.74156097048504
// basin c  21.391330715814714, -157.74398798195608

  



</script>



{%endblock%}
